@model IEnumerable<vidly.Models.Customers>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Customers</th>

        </tr>
    </thead>
    <tbody>
        <tr class="table-active">

            @foreach (var item in Model)
            {
                <th scope="row">@item.Name</th>
            }


        </tr>

    </tbody>
</table>

